m-groups--filter-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  position: relative;
  max-width: 780px;
  box-sizing: border-box;

  @media screen and (max-width: 840px) {
    text-align: center;
  }

  .m-group--feed-sort {
    flex-grow: 1;

    .m-topbar--navigation--item {
      border-top: none !important;
      border-bottom: none !important;
      padding: 4px 8px 5px;
    }
  }

  .m-groups--filter-selector {
    padding: $minds-padding;
    //margin-bottom: $minds-margin;
    background: #FFF;
    border-radius: 24px;
    font-size: 11px;
    line-height: 1;
    text-align: right;
    display: inline-block;

    @media screen and (max-width: 840px) {
      position: inherit;
      display: block;
      margin: 0 auto;
    }

    .m-groups--filter-selector-item {
      display: inline-block;
      padding: 0 1.5em;
      color: #4a4a4a;
      border-right: 1px solid rgba(151, 151, 151, 0.25);
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      cursor: pointer;

      &:last-child {
        border-right: none;
      }

      &:hover, &.m-groups--filter-selector-active {
        color: #417cb2;
      }

      > * {
        vertical-align: middle;
      }
      > i {
        line-height: 16px;
        height: 16px;
      }
    }
  }
}
