m-wallet--balance-money, m-wallet--balance-reward, m-wallet--balance-tokens {
  display: block;
}

.m-wallet--balance {
  width: auto;
  min-height: 0;
  padding: ($minds-padding * 2) $minds-padding;
  text-align: center;
  background: #FFF;

  .m-wallet--balance--logo {
    width: 100px;
    margin-top: 24px;
  }

  h3 {
    font-weight: 600;
    color: #444;
  }

  h2 {
    text-align: center;
    font-weight: 600;
    color: #4690DF;
  }
}

.m-wallet--balance--addresses {
  padding: 0 8px;

  > span {
    text-align: left;
    font-size: 11px;
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 500;
  }

  > div:nth-of-type(1) {
    margin-top: 0 !important;
  }

  .m-wallet--balance--addresses-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;

    .m-wallet--balance--addresses-address-label {
      font-weight: 600;
      font-family: 'Roboto';
      letter-spacing: 0.25px;
      color: #444;

      m-tooltip { 
        vertical-align: middle;
        i {
          font-size: 12px;
          color: #777 !important;
        }
      }
    }
    .m-wallet--balance--addresses-address-address {
      font-size: 10px;
      color: #888;
      font-weight: 400;
    }
    > * {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
    .m-wallet--balance--addresses-address-balance {
      font-size: 16px;
      font-weight: 600;
      color: #4690DF;
      text-align: right;
    }
  }
  .m-wallet--balance--addresses-address-col {
    text-align: left;
    flex: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;
    }
  }
}

.m-wallet--balance--testnet {
  text-align: left;
  padding: 8px;
  margin: 16px 8px 4px;

  p {
    font-size: 12px;
    line-height: 1.25;
    margin: 0;
    color: #666;
  }
}
