.minds-banner{
  position:relative;
  max-height:300px;
  overflow:hidden;
  height: 300px;

  &.m-banner--img-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #444;
  }

  div.minds-banner-img{
    width:100%;
    position: relative;
    height: inherit;
    background-position: 0, 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #444;

    &.m-banner--img-cover {
      background-position: center;
    }
  }

  img.minds-banner-img{
    width:100%;
    min-width:100%;
    position: relative;
    height: auto;
  }

  @media screen and (max-width: $min-tablet){
    &{
      max-height: 180px;
    }
    .minds-banner-img{
      min-width: 100%;
      height: 100%;
      background-position:0 0 !important;
    }
  }

  img{
    width:100%;
    min-width:2000px;
    position: relative;
  }
  .minds-banner-overlay{
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
  }

  &.minds-banner-editing{
    img{
      cursor:move;
    }

    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #FFF;
      background: rgba(0, 0, 0, 0.3);
      /* align-items: center; */
      /* display: flex; */
      text-align: center;
      padding-top: 116px;
      cursor: pointer;

      i{
        font-size: 62px;
        width: 100%;
      }
      span{
        font-weight: 200;
        padding: $minds-padding*2;
        display: block;
      }
      em {
        font-style: normal;
        font-size: 0.8em;
        opacity: 0.65;
      }
    }
    .minds-banner-overlay{
      height:60px;
      bottom:0;
      top:initial;
      background:rgba(0,0,0,0.6);
    }
    .add-button{
      display:none;
    }
    .save-bar{
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      padding:$minds-padding $minds-padding*2;
      background-color: rgba(0,0,0,0.5);
      display: flex;
      align-items: flex-end;
      -webkit-align-item: flex-end;
      flex-direction: row;

      p{
        margin: 0;
        padding: 4px 16px;
        color: #FFF;
      }
      .minds-button-edit{
        padding:0 $minds-padding;

        & > button {
          color: white;

          &:hover {
            color: white;
          }
        }
      }

    }
    input[type="file"]{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

minds-banner-fat{
  display: block;
  height: 100vh;

  &.minds-banner-editing{
    img{
      cursor:pointer;
    }
  }
  .minds-banner{
    height:auto;
    max-height: none;
  }
}
