
.m-overlay-modal--hashtag-selector {

  padding: $minds-padding * 2;
  background-color: white;


  .m-overlay-modal--close {
    background-color: white;
    i {
      font-size: 24px !important;
    }
  }
}

.m-hashtags-selector--modal {
  font-weight: 400;
  max-width: 900px;
  margin: 0;
  position: relative;

  .m-hashtags-selector--header {
    padding-left: 8px;

    > * {
      vertical-align: middle;
    }
  }

  .m-hashtags-selector--header-switches {
    display: inline-block;
    margin-left: 24px;
  }

  .m-hashtags-selector--subtext {
    color: #888;
    line-height: 1.5;
    padding-bottom: 0;
  }

  .m-hashtag-selector--section-row {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 16px);
    flex-direction: row;

    .m-hashtag--creator {
      margin-left: 8px;

      input {
        padding: 10px;
        width: 120px;
        border-radius: 3px;
        -webkit-appearance: none;
        border: 1px solid #ddd;
        font-size: 13px;
        font-weight: 600;
        text-transform: lowercase;
      }
      i {
        color: #888;
        font-size: 16px;
        cursor: pointer;
      }
    }
    
    .m-hashtag--creator > * {
      vertical-align: middle;
    }

    .mdl-spinner {
      margin: 0 auto;
    }

    .m-hashtag-selector--section-item {
      align-self: center;
      margin: $minds-padding;
      cursor: pointer;
      font-weight: bold;
    }
  }

  h3 {
    margin: $minds-padding 0px;
    font-weight: 400;
  }

  h4 {
    font-size: 24px;
    letter-spacing: 2.5px;
  }

  .m-hashtag-selector-section-row {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $min-tablet) {
      flex-direction: column;
    }

    > .m-hashtag-selector-section {
      flex: 1;
    }
  }

  .m-hashtag-selector-section {
    padding: 16px 0;
    font-weight: 400;

    &.m-hashtag-selector-section--last {
      margin-top: 8px;

      > * {
        vertical-align: middle;
      }

      > .m-hashtag-selector--button {
        margin-right: 16px;
      }
    }
  }

  .selected {
    color: #4690DF;
  }

  .m-hashtag-selector--submit {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .m-hashtag-selector--button {
      font-size: 14px;
      letter-spacing: 2.33px;
      appearance: none;
      padding: 8px 32px;
      background: none;
      border: 1px solid #555;
      border-radius: 0;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      text-transform: uppercase;
      color: #555;
      cursor: pointer;

      &[disabled] {
        cursor: default;
        opacity: 0.35;
      }
    }
    
    .m-hashtag-selector--submit-label,
    .m-hashtag-selector--submit-error {
      margin-left: $minds-padding;
      font-size: 16px;

      > span, > i {
        vertical-align: middle;
      }
    }

    .m-hashtag-selector--submit-error {
      color: #ff0000;
      font-size: 12px;
      font-weight: 500;
    }
  }

}
