<div class="m-notices__sidebar" *ngIf="!hidden">
  <h3 class="m-newsfeedSidebar__header">
    <span>Notices</span> 
    <i (click)="hide()" class="material-icons">close</i>
  </h3>
  <span *ngIf="!inProgress && !notices.length" class="m-noticesSidebar__empty">
    There are no notices
  </span>
  <ul class="m-noticesSidebar__list m-border" *ngIf="notices.length">
    <li *ngFor="let notice of notices" class="m-noticesSidebarList__item">
      <a [routerLink]="notice.cta.routerLink" class="m-notices__notice" [class.m-notices__notice--recent]="isRecent(notice)">
        <h3>{{ notice.timestamp | date:'mediumDate' }}</h3>
        <span class="m-noticesNotice__cta">{{ notice.cta.label }}</span>
        <p>{{ notice.description }}</p>
      </a>
    </li>
  </ul>
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
</div> 
